.movie-details {
    padding: 20px;
    text-align: center;
}


.movie-details img {
    border-radius: 8px;
    width: 300px;
}

.movie-details h2 {
    margin: 20px 0;
}

.movie-details p {
    margin: 10px 0;
}


.back-button {
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
   
    background-color: #e2e2e2; 
    color:  #0c6567; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center; 
}

.back-button:hover {
   
    background-color: #635c5c52;
    color: #fff; 
}

.back-button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.back-button .icon {
    margin-right: 5px; 
}


.movie-details {
    padding: 20px;
}

.related-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.related-movies .movie-card {
    margin: 10px; 
}
